{% extends "::base.html.twig" %}

{% block title %} {% endblock %}
{% block javascripts %} {% endblock %}
{% block body %}
    <div class="row">
        <div class="container container-fluid">
            <ul class="nav nav-tabs">
                <li><a href="{{ path('homepage') }}">Главная</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('all_users') }}">Список Игроков</a></li>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                {% endif %}
                {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('profile', {'user_id' : app.user.id}) }}" class="menu">Profile</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('sonata_admin_dashboard') }}" id="admin_panel">Админская панель</a></li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Game <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('app_game_downloadpreviousgame') }}">Загрузка результатов предыдущей
                                игры</a></li>
                        <li><a href="{{ path('start_game') }}">Начать новую игру</a></li>
                        <li><a href="{{ path('app_game_gamelist') }}">Список туров</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="/logout">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %} {% endblock %}
{% endblock %}