{% extends '@App/main.html.twig' %}

{% block title %}AppBundle:ExcelData:getDataFromExcel{% endblock %}

{% block content %}
    <div class="container">
     {% for user, tp in reg_users %}
            <p><b>Сотрудник:</b> {{ user }}</p>
            {% for datum in tp %}
                {% if datum matches '/^\\d+$/' %}
                    <h3><b>Итого баллов: {{ datum }}</b></h3>
                {% else %}
                    <h4>ТП на 5 день: {{ datum }}</h4>
                {% endif %}
            {% endfor %}
        {% endfor %}
    <br>
    <h1><b>Сотрудники которые еще не зарегистрировались на сайте</b></h1>
    {% for user, tp in not_reg_users %}
        <p><b>Сотрудник:</b> {{ user }}</p>
        {% for datum in tp %}
            {% if datum matches '/^\\d+$/' %}
                <h3><b>Итого баллов: {{ datum }}</b></h3>
            {% else %}
                <h4>ТП на 5 день: {{ datum }}</h4>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}