{% extends '@App/main.html.twig' %}

{% block content %}
<div class="container content">
    <h1>Игроки заслужившие Бейджи </h1>
    <!-- Table -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Логин</th>
            <th>Бейдж</th>
        </tr>
        </thead>

        <tbody>
        {% set count = 0 %}
        {% for user in badge_users %}
            {% set count = count + 1 %}

            <tr data-href="{{ path('profile', {'user_id': user.id}) }}" id="{{ user.id }}" >
                <td>
                    {{ count }}
                </td>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ user.surname }}
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {% for badge in user.badges %}
                        {{ badge.name }}
                        <img width="100" height="100" class="img-responsive" src="{{ vich_uploader_asset(badge, 'badgeFile') }}">
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block title %}

{% endblock %}

