{% extends '@App/main.html.twig' %}

{% block title %}AppBundle:ExcelData:getDataFromExcel{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-4 col-md-4 col-sm-8 sign_form">
                {{ form(form) }}
            </div>
            <h3>{{ message }}</h3>
        </div>
    </div>
{% endblock %}