{% extends '@App/main.html.twig' %}

{% block content %}
    <div class="container">
    {% for user, res in result %}
        <p><b>Сотрудник:</b> {{ user }}</p>
        {% for key,r in res %}
            {% if key == 'restorations' %}
            <p><b>Восстановил номеров: {{ r }}</b></p>
            {% else %}
                <p><b> Баллы: {{ r }}</b></p>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

