<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('javascript/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/battle.css') }}">
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
        <script src="{{ asset('javascript/jquery-3.2.1.js') }}"></script>
        <script href="{{ asset('css/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('javascript/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('javascript/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js') }}"></script>
    </head>
    <body>
    {% block javascripts %}{% endblock %}
    {% block body %}{% endblock %}
    {% block message %}{% endblock %}
    </body>
</html>
