{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3 success">
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-3 link">
                <a class="home_link" href="{{ path('homepage') }}">Home</a>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
