{% extends 'AppBundle::main.html.twig' %}

{% block content %}
    <div class="container" id="content">
            <h1 style="text-align: center">Список Игроков</h1>
            <h3 style="text-align: center">Количество зарегистрированных пользователей {{ users }}</h3>
            <!-- Table -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Логин</th>
                </tr>
                </thead>

                <tbody>
                {% set count = 0 %}
                {% for user in paginate %}
                    {% set count = count + 1 %}

                    <tr data-href="{{ path('profile', {'user_id': user.id}) }}" id="{{ user.id }}">
                        <td>
                            {{ count }}
                        </td>
                        <td>
                            {{ user.name }}
                        </td>
                        <td>
                            {{ user.surname }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(paginate) }}
            </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('table tr').click(function () {
                window.location = $(this).data('href');
                return false;
            });
        });
    </script>

{% endblock %}
