{% extends 'AppBundle::main.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container content">
            <div class="row">
                <div class="col-lg-3">
                    {{ form_start(form) }}
                    <img class="img-responsive" src="{{ vich_uploader_asset(profile, 'imageFile') }}">
                    <br>
                </div>
                <div class="col-lg-6">
                    <table border="0" cellpadding="3" class="table">
                        <tr>
                            <th>
                                <h5>Фамилия</h5>
                            </th>
                            <td>
                                <h5> {{ profile.surname }} </h5>
                                {{ form_row(form.surname, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h5>Имя</h5>
                            </th>
                            <td>
                                <h5>{{ profile.name }} </h5>
                                {{ form_row(form.name, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h5>Отчество</h5>
                            </th>
                            <td>
                                <h5> {{ profile.patronymic }}</h5>
                                 {{ form_row(form.patronymic, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h5>email</h5>
                            </th>
                            <td>
                                <h5>{{ profile.email }}</h5>
                                {{ form_row(form.email, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h5>Номер</h5>
                            </th>
                            <td>
                                <h5>{{ profile.phoneNumber }}</h5>
                                {{ form_row(form.phone_number, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h5>Офис</h5>
                            </th>
                            <td>
                                <h5>{{ profile.office.name }}</h5>
                                {{ form_row(form.office, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <td>
                                {{ form_row(form, {'label':' ' }) }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ form_end(form) }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block message %}

{% endblock %}

