{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="col-lg-6">
        <form action="{{ path('start_game') }}">
            Date:
            <input type="date" class="form-control" name="date">
            <input type="submit" id="Начать игру">
        </form>
    </div>
{% endblock %}

