{% extends "@App/main.html.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="content">
                {% for an in announcement %}
                    <h2>{{ an.announcement }}</h2>
                {% endfor %}
                <p>This is main page for beeline-gamification project</p>
            </div>
            {% if message != null %}
                {{ message }}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block message %}
{% endblock %}