{% extends 'AppBundle::main.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container content">
            <div class="row">
                < class="col-lg-3">
                {% if user_for_profile.username == profile.username %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                {% endif %}
                <img class="img-responsive" src="{{ vich_uploader_asset(profile, 'imageFile') }}">
                <div class="dropdown">
                    <h3 onclick="myFunction()" data-toggle="dropdown" class="dropdown-toggle"> История <b
                                class="caret"></b></h3>
                    <div id="myDropdown" class="history_menu" align="center">
                        {% for history in profile.histories %}
                            <h4><b>{{ history.office.name }}</b></h4>
                            <p class="p_history"> start_date {{ history.startDate|date('Y-M-d') }} </p>
                            {% if history.endDate is not null %}
                                <p class="p_history"> end_date {{ history.endDate|date('Y-M-d') }} </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% for badge in  profile.badges %}
                    <h3 style="text-align: left">{{ badge.name }}</h3>
                    <img height="100" width="100" class="img-responsive"
                         src="{{ vich_uploader_asset(badge, 'badgeFile') }}">
                {% endfor %}
                    
            </div>
            <div class="col-lg-6">
                <table border="0" cellpadding="3" class="table">
                    {% if user_for_profile.username == profile.username %}
                        <tr>
                            <th>
                                <h5> Редактировать профиль</h5>
                            </th>
                            <td>
                                <form action="{{ path('edit_profile', {'user_id': profile.id}) }}">
                                    <button class="btn btn-action">редактировать</button>
                                </form>

                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            <h5>ФИО</h5>
                        </th>
                        <td>
                            <h5>{{ profile.name }} {{ profile.surname }} {{ profile.patronymic }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h5>Логин</h5>
                        </th>
                        <td>
                            <h5>{{ profile.username }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h5>ОПиО</h5>
                            <h5>Регион</h5>
                        </th>
                        <td>
                            <h5>{{ profile.office }}</h5>
                            <h5>{{ profile.office.region }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h5>Партнер</h5>
                        </th>
                        <td>
                            <h5>{{ profile.office.partner }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h5>Номер</h5>
                            <h5>email</h5>
                        </th>
                        <td>
                            <h5>{{ profile.phoneNumber }}</h5>
                            <h5>{{ profile.email }}</h5>
                        </td>
                    </tr>
                    {% if not is_granted('ROLE_USER') %}
                        <tr>
                            <th>
                                <h5>Дата регистрации</h5>
                            </th>
                            <td>
                                <h5>{{ profile.registerDate|date('Y-M-d') }}</h5>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            <h5>Статус</h5>
                        </th>
                        <td>
                            {% if profile.status == 1 %}
                                <h5>Активен</h5>
                            {% else %}
                                <h5>Не активен</h5>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th>
                            <h5>Баланс</h5>
                        </th>
                        <td>
                            {{ profile.balance }}
                        </td>
                    </tr>
                    <tr>
                        <th>

                        </th>
                        <td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
{% endblock %}

