{% extends 'AppBundle::main.html.twig' %}
{% block title %}AppBundle:Game:downloadPreviousGame{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-4 col-lg-offset-3 sign_form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        $(function(){
            $(".form-control input-inline datepicker").datepicker();
        });
    </script>
{% endblock %}
