{% extends 'AppBundle::main.html.twig' %}
{% block title %}AppBundle:Game:downloadPreviousGame{% endblock %}
{% block content %}
    <ol>
        {% for game in games %}
            <li>Тур {{ game.number }}</li>
                <ul>
                    <li>Начало: {{ game.startDate|date("d-m-Y") }}</li>
                    <li>Конец: {{ game.endDate|date("d-m-Y") }}</li>
                    <li><a href="{{ path('app_game_game', {'id': game.id}) }}">GAME</a></li>
                </ul>
        {% endfor %}
    </ol>
{% endblock %}

