{% extends 'AppBundle::main.html.twig' %}
{% block message %}
{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <ul>
                <li>
                    {{ form(form) }}
                    <span class="btn quarts-btn">Quartets</span>
                    <span class="quarts" style="display: none">
                        <em class="title">Тур под номером: {{ game.number }}</em>
                        <em class="title">Старт: {{ game.startDate|date("d-m-Y") }}</em>
                        <em class="title">Конец: {{ game.endDate|date("d-m-Y") }}</em>

                        {% set num = 0 %}

                        {% for quartet in quartets %}
                            {% set num = num + 1 %}
                            <i><b>Квартет № {{ num }}</b></i>

                            <span class="q_user">
                                {% for user in quartet.users %}
                                    {{ user.name }} {{ user.surname }} {{ user.patronymic }} = {{ user.points }} ||| <b>{{ user.username }}</b>
                                <br>
                                {% endfor %}
                            </span>
                        {% endfor %}
                    </span>
                </li>
                <li>
                    <span class="btn battle-btn_1">Battle 1</span>
                    <span class="battle1" style="display: none">
                        <div class="content col-lg-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Игрок 1</th>
                                        <th>Баллы за активации</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Итого баллов</th>
                                        <th>БОЙ - 1</th>
                                        <th>Итого баллов</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Баллы за активации</th>
                                        <th>Игрок 2</th>
                                    </tr>
                                </thead>
                                {% for battleResult in data['first_battle_result'] %}
                                    {% set user_value = battleResult.userpoints +  battleResult.userrestorations %}
                                <tr>
                                <td class="status" data-id="{{ battleResult.user.id }}" data-points="{{ user_value }}">
                                    {{ battleResult.user.username }}
                                </td>
                                <td>
                                    {{ battleResult.userpoints }}
                                </td>
                                <td>
                                    {{ battleResult.userrestorations }}
                                </td>

                                <td>
                                    {{ user_value }}
                                </td>
                                <td>
                                    <b>VS</b>
                                </td>
                                    {% set opponent_value = battleResult.opponentpoints +  battleResult.opponentrestorations %}
                                <td>
                                    {{ opponent_value }}
                                </td>
                                <td>
                                   {{ battleResult.opponentrestorations }}
                                </td>
                                <td>
                                    {{ battleResult.opponentpoints }}
                                </td>
                                <td class="status" data-id="{{ battleResult.opponent.id }}" data-points="{{ opponent_value }}">
                                    {{ battleResult.opponent.username }}
                                </td>
                            </tr>
                                {% endfor %}
                                </table>
                        </div>
                    </span>
                </li>
                <li>
                    <span class="btn battle-btn_2">Battle 2</span>
                    <span class="battle2" style="display: none">
                        <div class="content col-lg-12">
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Игрок 1</th>
                                        <th>Баллы за активации</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Итого баллов</th>
                                        <th>БОЙ - 1</th>
                                        <th>Итого баллов</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Баллы за активации</th>
                                        <th>Игрок 2</th>
                                    </tr>
                                </thead>
                            {% for battleResult in data['second_battle_result'] %}
                                {% set user_value = battleResult.userpoints +  battleResult.userrestorations %}
                                <tr>
                                <td class="status" data-id="{{ battleResult.user.id }}" data-points="{{ user_value }}">
                                    {{ battleResult.user.username }}
                                </td>
                                <td>
                                    {{ battleResult.userpoints }}
                                </td>
                                <td>
                                    {{ battleResult.userrestorations }}
                                </td>

                                <td>
                                    {{ user_value }}
                                </td>
                                <td>
                                    <b>VS</b>
                                </td>
                                    {% set opponent_value = battleResult.opponentpoints +  battleResult.opponentrestorations %}
                                    <td>
                                    {{ opponent_value }}
                                </td>
                                <td>
                                   {{ battleResult.opponentrestorations }}
                                </td>
                                <td>
                                    {{ battleResult.opponentpoints }}
                                </td>
                                <td class="status" data-id="{{ battleResult.opponent.id }}" data-points="{{ opponent_value }}">
                                    {{ battleResult.opponent.username }}
                                </td>
                            </tr>
                            {% endfor %}
                                </table>
                            </div>
                    </span>
                </li>
                <li>
                    <span class="btn battle-btn_3">Battle 3</span>
                    <span class="battle3" style="display: none">
                        <div class="content col-lg-12">
                        <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Игрок 1</th>
                                        <th>Баллы за активации</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Итого баллов</th>
                                        <th>БОЙ - 1</th>
                                        <th>Итого баллов</th>
                                        <th>Баллы за восстановления</th>
                                        <th>Баллы за активации</th>
                                        <th>Игрок 2</th>
                                    </tr>
                                </thead>
                            {% for battleResult in data['third_battle_result'] %}
                                {% set user_value = battleResult.userpoints +  battleResult.userrestorations %}
                                <tr>
                                <td class="status" data-id="{{ battleResult.user.id }}" data-points="{{ user_value }}">
                                    {{ battleResult.user.username }}
                                </td>
                                <td>
                                    {{ battleResult.userpoints }}
                                </td>
                                <td>
                                    {{ battleResult.userrestorations }}
                                </td>

                                <td>
                                    {{ user_value }}
                                </td>
                                <td>
                                    <b>VS</b>
                                </td>
                                    {% set opponent_value = battleResult.opponentpoints +  battleResult.opponentrestorations %}
                                    <td>
                                    {{ opponent_value }}
                                </td>
                                <td>
                                   {{ battleResult.opponentrestorations }}
                                </td>
                                <td>
                                    {{ battleResult.opponentpoints }}
                                </td>
                                <td class="status" data-id="{{ battleResult.opponent.id }}" data-points="{{ opponent_value }}">
                                    {{ battleResult.opponent.username }}
                                </td>
                            </tr>
                            {% endfor %}
                                </table>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var status = $('.status');
            for (var i = 0; i < status.length; i += 2){
                var user_points = $(status[i]).attr('data-points');
                var opponent_points = $(status[i + 1]).attr('data-points');

                if (user_points > opponent_points){
                    $(status[i]).addClass('winner')
                } else if (user_points < opponent_points){
                    $(status[i + 1]).addClass('winner')
                } else {
                    $(status[i + 1]).addClass('draw');
                    $(status[i]).addClass('draw')
                }
            }

            var show_quarts = false,
                show_bt_1 = false,
                show_bt_2 = false,
                show_bt_3 = false;

            var quarts_btn = $('.quarts-btn'),
                quarts = $('.quarts');

            var battle_btn_1 = $('.battle-btn_1'),
                battle_btn_2 = $('.battle-btn_2'),
                battle_btn_3 = $('.battle-btn_3');

            var battle_1 = $('.battle1'),
                battle_2 = $('.battle2'),
                battle_3 = $('.battle3');

            quarts_btn.on('click', function () {
                show_quarts = blockManager(quarts, show_quarts);
            });


            battle_btn_1.on('click', function () {
                show_bt_1 = blockManager(battle_1, show_bt_1);
            });

            battle_btn_2.on('click', function () {
                show_bt_2 = blockManager(battle_2, show_bt_2);
            });
            battle_btn_3.on('click', function () {
                show_bt_3 = blockManager(battle_3, show_bt_3);
            });

            function blockManager(block, show) {
                if (show){
                    block.css('display', 'none');
                    return false;
                } else {
                    block.css('display', 'block');
                    return true;
                }
            }
        });
    </script>
{% endblock %}