.btn {
    background-color: #0f0f0f;
    color: #FFFFFF;
}
.btn:hover {
    background-color: yellow ;
}
.quarts {
    display: block;
}

.title {
    display: block;
}

.q_user {
    display: block;
    background-color: #1fccc1;
}

.content {
    background-color: #48eee5;
    display: inline-block;
    text-align: center;
}

.quart1 {
    background-color: yellow;
}

.quart2 {
    background-color: #96ee5d;
}

.status {
    background-color: red;
    color: white;
}

.winner {
    background-color: #7aee0d;
}

.draw {
    background-color: blue;
}