{% extends '@App/main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    <div class="col-lg-4 col-lg-offset-3 flash-message">
                         {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
        </div>
    </div>

    <div>

        {% block fos_user_content %}
        {% endblock fos_user_content %}

    </div>

{% endblock %}